@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700;1,900&display=swap');

.input-field {
    width: 100%;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    border: 0px;
    background-color: #F2ECBE;
    color: #65451F;
    font-family: Merriweather, Arial, Helvetica, sans-serif; 
    font-weight: bold;
    text-indent: 10px;
}

.input-field:focus {
    outline: #D2B7A9 1px solid;
}

.input-field::placeholder {
    color: #D09271;
    font-family: Merriweather, Arial, Helvetica, sans-serif; 
    font-weight: bold;
}

.form-title {
    margin: 0px 0px 0px 10px;
    color: #65451F;
    font-family: Merriweather, Arial, Helvetica, sans-serif; 
    font-weight: bold;
}

.form-button {
    width: 100%;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    border: 0px;
    font-family: Merriweather, Arial, Helvetica, sans-serif; 
    font-weight: bold;
    background-color: #9A3B3B;
    color: #D09271;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #BA5B5B;
    cursor: pointer;
}

.label_text_newacc {
    color: #65451F;
    font-family: Merriweather, Arial, Helvetica, sans-serif; 
}

.link_new_acc {
    color: #653902;
    font-family: Merriweather, Arial, Helvetica, sans-serif; 
}

.link_new_acc:hover {
    color: #d37603;
}

.user {
    font-size: 40px;
    text-align: left;
    list-style-type: none;
    color: #65451F;
}

.error{
    color: #DE0A26;
    margin: 3px;
}

.error-border{
    border: 2px solid #DE0A26;
}

nav{
    width: 100%;
    height: 7%;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    align-items: center;
    background-color: #9A3B3B;
}

/* put more sufficient css */
.navbar-element{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: 0px;
    font-family: Merriweather, Arial, Helvetica, sans-serif; 
    font-weight: bold;
    background-color: #9A3B3B;
    color: #D09271;
    transition: background-color 0.3s ease;
    text-decoration: none;
    transition: 500ms;
}

.navbar-link:hover {
    background-color: #BA5B5B;
    cursor: pointer;
    transition: 500ms;
}

.navbar-icon{
    width: fit-content;
    margin: 0 5rem;
}

.icon{
    width: 3rem;
    height: 3rem;
    transition: 500ms ease;
}

.icon:hover{ 
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 500ms ease;
}

.left-nav-div{
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    left: 0;
    width: 50%
}

.right-nav-div{
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    right: 0;
}