.input-field {
    width: 100%;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    border: 0px;
    background-color: #F2ECBE;
    color: #C08261;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    text-indent: 10px;
}

.input-field:focus {
    outline: #D2B7A9 1px solid;
}

.input-field::placeholder {
    color: #D09271;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
}

.form-title {
    margin: 0px 0px 0px 10px;
    color: #F2ECBE;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
}

.form-button {
    width: 100%;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    background-color: #9A3B3B;
    color: #D09271;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #BA5B5B;
    cursor: pointer;
}